@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
html{
	box-sizing: border-box;
}

input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

header{
  background: white;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav{
  float: right;
}

.button {
  margin: 18px;
  padding: 15px 32px;
  border-radius: 12px;
  background-color: #9b9b9b;
}

input,
textarea,
button {
  border: 1px #9b9b9b; 
}

.section1{
	color: white;
}

.section2{
  padding-top: 7%;
}

.background-section1{
	background-image: url(resources/background_photo.jpg);
	padding-top: 15%;
	padding-bottom: 25%;
	background-size: 100% auto;
}

.logo{
  float: left;
  width: 20%;
  padding: 15px 0;
}

.navbar{
  width: 80%;
  margin: 0 auto;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}